.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }

  header{
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 auto;
  }
  header div h1{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 48px;
    margin-top: 12px;
    margin-bottom: 15px;
  }
  header div p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    font-weight: 500;
    margin-top: 52px;
    margin-bottom: 0px;
  }
  /* Nav bar styles */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px 10px 130px;
    margin-top: 0px;
  }
  nav h3{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 28px;
    max-width: 1160px;
  }

  /* Button styles */
  nav button{
    color: #006A50;
    background: none;
    padding: 13px 28px 13px 28px;
    border-radius: 8px;
    border-color: #006A50;
    border: 1px solid #006A50;
  }
  .btn-primary{
    font-size: 14px;
    font-weight: 550;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
    margin-top: 0px;
    border: 1px solid #006A50;
  }

  .Bangladesh{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 130px 60px 130px ;
    background-color: #C6E4D6;
    border-radius: 24px;
  }
  .includings{
    justify-content: space-around;
    padding: 50px 49px 50px 49px;
  }
.hero-picture{
    padding-right: 65px;
    max-width: 1160px;
}
/* main section styles */

.Pillars{
    text-align: left;
    margin: 40px 130px 40px 130px;
}
.content{
    display: flex;
    gap: 18px;
    padding-top: 19px;
}
.name{
    text-align: left;
    background-color: #ffffff;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 15px;
    padding: 17px;
}
.heading{
    color: rgba(14, 14, 14, 1);
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px;
}
.title{
    color: rgba(14, 14, 14, 0.8);
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}
.description{
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
    font-weight: normal;
}
.card-pic{
    height: 55px;
    width: 55px;
}
/* Second section */
.Vision{
    text-align: left;
        margin: 60px 130px 60px 130px;
}
.vision-of-future{
  display: flex;
  gap: 18px;
  margin-top: 26px;
  margin-bottom: 0px;
}
.head{
  color: rgba(14, 14, 14, 0.8);
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
}
.explanation{
  color: rgba(14, 14, 14, 0.7);
  font-weight: 400;
  font-size: 14px;
  margin-top: 12px;
} 
.body{
  color: rgba(14, 14, 14, 0.7);
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}

/* Button styles */
.btn-first{
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  background-color: #5490F5;
  border: none;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  margin-top: 16px;
  cursor: pointer;
}
.btn-second{
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  background-color: #09A15C;
  border: none;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  margin-top: 16px;
  cursor: pointer;
}
.btn-last{
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  background-color: #FFC239;
  border: none;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  margin-top: 16px;
  cursor: pointer;
}
.digital{
  background-color: rgba(84, 144, 245, 0.2);
  padding: 26px;
  border: none;
  border-radius: 12px;
  
}
.green{
  background-color: rgba(198, 228, 214, 1);
  padding: 26px;
  border: none;
  border-radius: 12px;
}
.modern{
  background-color: rgba(247, 235, 207, 1);
  padding: 26px;
  border: none;
  border-radius: 12px;
}

/* Quote style */
.quote-content{
  margin-top: 30px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #ffffff;
  padding-top: 12px;
}
.quote{
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 12px;
  padding: 10px 16px 26px 16px ;
  margin-top: 24px;
}