.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }

  header{
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 auto;
  }
  header div h1{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 48px;
    margin-top: 12px;
    margin-bottom: 15px;
  }
  header div p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 20px;
    font-weight: 500;
    margin-top: 52px;
    margin-bottom: 0px;
  }
  /* Nav bar styles */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px 10px 130px;
    margin-top: 0px;
  }
  nav h3{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 28px;
    max-width: 1160px;
  }
  nav button{
    color: #006A50;
    background: none;
    padding: 13px 28px 13px 28px;
    border-radius: 8px;
    border-color: #006A50;
    border: 1px solid #006A50;
  }
  .btn-primary{
    font-size: 14px;
    font-weight: 550;
    color: #ffffff;
    background-color: #006A50;
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
    margin-top: 0px;
    border: 1px solid #006A50;
  }
  .Bangladesh{
    max-width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 130px 60px 130px ;
    background-color: #C6E4D6;
    border-radius: 24px;
  }
  .includings{
    justify-content: space-around;
    padding: 50px 49px 50px 49px;
  }
.hero-picture{
    padding-right: 65px;
    max-width: 1160px;

}